.bg-navbar-comntainer{
    display: grid;
    grid-template-areas: "logo auto home samples projects";
    grid-template-columns: 150px auto 70px 150px 150px;
    column-gap: 30px;
    background-color: #D92128;;
    color: white;
    padding: 10px;
    list-style: none;
    width: 100%;
    position: relative;
    overflow: hidden;
    div{
        color: white;
    }
    @keyframes twist {
        0%{
            // left:100%;
            // rotate: 180deg;
            // transform: translateY(300px);
            left: 0%;
            
            
        }
        50%{
            // left:100%;
            // rotate: 180deg;
            // transform: translateY(300px);
            left: 50%;
        }
        100%{
            // rotate: 270deg;
            // left:50%;
            // transform: translateY(-900px);
            left: 100%;
        }
    }
    .anim-span{
        width: 100px;
        height: 5px;
        position: absolute;
        rotate: -45deg;
        background-color: white;
        z-index: 1;
        top: 20px;
        box-shadow: 10px 10px 10px grey;
        opacity: 0.5;


    }
    .one{
        animation: twist 2.9s ease-in-out 3s infinite;
    }
    .two{
        animation: twist 3s ease-in-out 3s infinite;
    }
   
    
}
.nav-item-logo{
    text-align: left;
    // padding: 10px;
    // height: 50%;
    cursor: pointer;
    grid-area: logo;
    width: fit-content;
    // grid-column: 1 / 2;
    img{
        width: 97px;
    }
    z-index: 2;
}
.nav-item-home {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    grid-area: home;
    width: fit-content;
    z-index: 2;
    // grid-column: 5/6;
}
.nav-item-samples {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    grid-area: samples;
    width: fit-content;
    z-index: 2;
    // grid-column: 6/7;
}
.nav-item-projects {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    grid-area: projects;
    width: fit-content;
    z-index: 2;
    // grid-column: 7/8;
}

.nav-item:hover {
    background-color: #555;
    color: white;
   
}

@media (max-width: 600px) {
    .navbar {
        grid-template-columns: repeat(2, 1fr); /* Two columns on small screens */
    }
}