.bg-container-project-bookhub {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "title title title" "descrip video video" "git git live" "git-link git-link live-link";
    justify-content: start;
    grid-template-columns: 42% auto auto ;
    grid-template-rows: 40px auto 40px 100px;
    gap: 40px;

    .card-title {
        grid-area: title;
    }

    .card-descrip {
        max-height: 360px;
        overflow-y: auto;
        grid-area: descrip;
        ul{
            font-size: 12px;
        }
        ol{
            font-size: 12px;
        }


    }

    .card-video {
        grid-area: video;
        text-align: right;
    }

    .card-git {
        grid-area: git;
    }
    .card-live-project{
        grid-area: live;
    }
    .card-git-link {
        grid-area: git-link;
    }
    .card-live-project-link{
        grid-area: live-link;
    }


}