.bg-container-failure {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-image {
  height: 70%;
  width: 100%;
}
