body{
  margin: 0px;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  margin: 0px;
}
button{
  cursor: pointer;
  background:none;
  /* border: 1px solid black; */
}
*{
  color: rgb(51, 51, 51);
  /* font-weight: bold; */
  
}
div{
  /* width: 100%; */
}