.bg-container-home {
  height: 100%;
  width: 100%;
}
.header-container {
  height: 70px;
  display: flex;
  background-color: #cbd5e1;
  padding: 5px;
  padding-left: 40px;
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  gap: 20px;
}
.home-card {
  padding: 40px;
}

select {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}
.loader-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-minor-wrapper{
  display: flex;
  justify-content: center;
  & .bg-container-minor{
    background-color: rgb(233, 227, 227);
    grid-area: minor;

    width: 200px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    :hover{
        @keyframes scaleMe {
            100%{
                transform: scale(1.2);
            }
        }
        animation: scaleMe 0.1s ease-in-out 0s forwards;
        
       }
  
  }
  
}
