.footer-conatiner {
    background-color: #414142;
    // padding: 20px 0;
    // margin-left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
    height: 50px;
  
    @media (max-width: 576px) {
      margin-left: 0;
      width: 100%;
    }
  
    p {
      color: white;
      margin: 0px;
    }
  }