.bg-container-project-jobby {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "title title title" "descrip video video" "git git live";
    justify-content: space-between;
    grid-template-columns: 30% auto auto ;

    .card-title {
        grid-area: title;
    }

    .card-descrip {
        max-height: 360px;
        overflow-y: auto;
        grid-area: descrip;
        ul{
            font-size: 12px;
        }
        ol{
            font-size: 12px;
        }


    }

    .card-video {
        grid-area: video;
    }

    .card-git {
        grid-area: git;
    }
    .card-live-project{
        grid-area: live;
    }

}