.bg-container-project {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "title title title" "descrip video video" "git git live" "git-link git-link live-link";
    justify-content: start;
    grid-template-columns: 42% auto auto ;
    grid-template-rows: 40px auto 40px 100px;
    gap: 40px;
    @media screen and (max-width:1321px) {
        grid-template-areas: "title title title" "descrip descrip descrip" "video video video" "git live live" "git-link live-link live-link";
        grid-template-rows: 40px auto auto 40px 100px;
    }

    .card-title {
        grid-area: title;
    }

    .card-descrip {
        grid-area: descrip;
        ul{
            font-size: 12px;
        }
        ol{
            font-size: 12px;
        }


    }

    .card-video {
        grid-area: video;
    }

    .card-git {
        grid-area: git;
    }
    .card-live-project{
        grid-area: live;
    }
    .card-git-link {
        grid-area: git-link;
    }
    .card-live-project-link{
        grid-area: live-link;
    }

}